<IfModule mod_rewrite.c>
   RewriteEngine on

   # rewrite freeipa.org to www.freeipa.org
   RewriteCond %{HTTP_HOST} ^freeipa.org$ [NC]
   RewriteRule ^(.*)$ https://www.freeipa.org/$1 [R=301,L]

   # health endpoint for OCP
   RewriteRule    ^health.php$ health.php    [L]

   # site icon
   RewriteRule    ^([^/]+/)*favicon\.ico$ /images/freeipa/favicon.ico [L]

   # security instructions (https://securitytxt.org/)
   RewriteRule    ^security\.txt$ /security/security.txt [L]
   RewriteRule    ^\.well-known/security\.txt$ /security/security.txt [L]

   # rewrite other pages to app
   RewriteRule    ^$ php/    [L]
   RewriteRule    (.*) php/$1 [L]
</IfModule>
